<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Rabbit</title>
</head>

<body>
    <h1>Add a new rabbit</h1>
    <form action="/add" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <br>
            <tr>
                <td>Age:</td>
                <td><input type="text" name="age"></td>
            </tr>
            <br>
        </table>
        <input type="submit" value="Submit">
    </form>
    <br>
</body>
<% if(typeof(errors) != 'undefined' ) { %>
<span style="color: red">Something went wrong</span>
<p><%= errors%></p>
<% for (var x in errors) { %>
<h3><%= errors[x].messages %></h3>
<% } %>
<% } %>

</html>